<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{% static 'hound/images/favicon.ico' %}">
 <link href="{% static 'hound/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'hound/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'hound/fonts/font-awesome/css/font-awesome.min.css' %}">
 <link href="{% static 'hound/css/custom.css' %}" rel="stylesheet">

</head>
<body>

<div class="jumbotron">
  <div class="container-fluid ">
    <ul class="nav navbar-nav" style="margin-left:1px;">
     <a href="/drivers/0/0/"><img src="{%static 'hound/images/hound-icon.png/' %}" class="header-img" /></a>
        <br><br>&nbsp;&nbsp;<a href="/edit_trailer/1/{{economic_no}}/" style="font-size:12pt;">ESP</a>
    </ul>
		  <ul class="nav navbar-nav navbar-right second-menu-icons" style="margin-left:2px;">
		<a href="/logout/0/" style="font-size:14pt;">Log out</a>
		<br><div class="navbar-right" style="margin-right:2px;"><a href="/settings/0/" ><i class="fa fa-cog" aria-hidden="true"></i></a></div>
    </ul>
	<br>
  </div>
</div>
<nav class="navbar navbar-inverse">und
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/trip_status/0/">Track</a></li>
      <li><a href="#">Monitor</a></li>
      <li class="active"><a href="/drivers/0/0/">Assets</a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">


      {% if active %}
                        <ul class="nav navbar-nav second-menu-icons">
     <li><a href="/archiver_vehicles/0/1/"><i class="fa fa-car" aria-hidden="true"></i></a></li>
	   <li class="active"><a href="/archiver_trailers/0/1/"><i class="fa fa-truck" aria-hidden="true"></i></a></li>
	   <li ><a href="/archiver_drivers/0/1/"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
    </ul>

      {% else %}
                        <ul class="nav navbar-nav second-menu-icons">
      <li ><a href="/vehicles/0/0/"><i class="fa fa-car" aria-hidden="true"></i></a></li>
	   <li class="active"><a href="/trailers/0/0/"><i class="fa fa-truck" aria-hidden="true"></i></a></li>
	   <li><a href="/drivers/0/0/"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
	    <li><a href="/archiver_drivers/0/1/"><i class="fa fa-folder-open" aria-hidden="true"></i></a></li>
    </ul>

      {% endif %}


  </div>
</nav>

<div class="container">
<br>
<br>
  <div class="center-horizontaly" style="max-width:1000px;">

  <div class="form-horizontal form-container">



              {% if messages%}
     {% for message in messages %}
    <div class="alert alert-danger">
  <strong>Error!</strong>
        {{ message }}
</div>
    {% endfor %}
    {% endif %}


  <h3>
  Edit Trailer Profile
  </h3>
  <br>
  <br>
<div class="row">
  	 <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
         <center> <label style="font-size:20px;">Profile Image</label></center>
           <form action="/profile_trailer/0/{{economic_no}}/1/" method="post" id="profileForm" enctype="multipart/form-data">
	          {% csrf_token %}
               <center>
                   <img class="img-responsive form-img" src="{% static profile %}" style="width:150px; height:150px; border-radius:150px;">
	 <div class="form-inline icons-inverse text-left" style="font-size:30px;">
	  <a href="#" onclick="select_file()"><i class="fa fa-camera" aria-hidden="true"></i></a>

		<div style="display:none;">{{formProfile.profile|add_class:'form-control'|attr:'onchange:upload_file();'}}</div>
		</div>
	</center>
	  <br>
	  <br>
     </form>
	</div>
     <form action="/edit_trailer/0/{{economic_no}}/" method="post" >
           {% csrf_token %}
 <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="form-group two-column-form">
    <label class="control-label col-sm-4" >Economic No:</label>
    <div class="col-sm-8">
        {{formTrailer.economic_no|add_class:'form-control'|attr:'placeholder:Economic No.'|attr:'disabled'}}
    </div>
  </div>
   <div class="form-group two-column-form">
    <label class="control-label col-sm-4" >Plate No:</label>
    <div class="col-sm-8">
      {{formTrailer.plate_no|add_class:'form-control'|attr:'placeholder:Plate No.'}}
    </div>
  </div>

        <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Country:</label>
    <div class="col-sm-4" style="padding-left:10px;">
     {{formTrailer.country_select|add_class:'form-control'|attr:'placeholder:Country'|attr:'onchange:display_states();'}}
    </div>
  </div>

          <div style="display:none;" id="usa">
    <div class="form-group two-column-form">
    <label class="control-label col-sm-4" >State:</label>
    <div class="col-sm-6" style="padding-left:10px;">
        {{formTrailer.states_usa|add_class:'form-control'|attr:'placeholder:State'}}
    </div>
  </div>
  </div>


          <div style="display:none;" id="mx">
    <div class="form-group two-column-form">
    <label class="control-label col-sm-4" >State:</label>
    <div class="col-sm-6" style="padding-left:10px;">
        {{formTrailer.states_mx|add_class:'form-control'|attr:'placeholder:State'}}
    </div>
  </div>
  </div>

      <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Year:</label>
    <div class="col-sm-5" style="padding-left:10px;">
      {{formTrailer.year|add_class:'form-control'|attr:'placeholder:Year'}}
    </div>
  </div>

        <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Capacity:</label>
    <div class="col-sm-8">
         {{formTrailer.capacity|add_class:'form-control'|attr:'placeholder:Capacity'}}
    </div>
  </div>


        <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Client Name:</label>
    <div class="col-sm-8">
       {{formTrailer.client_name|add_class:'form-control'|attr:'placeholder:Client Name'}}
    </div>
  </div>

            <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Client Lastname:</label>
    <div class="col-sm-8">
       {{formTrailer.client_last_name|add_class:'form-control'|attr:'placeholder:Client Lastname'}}
    </div>
  </div>

  </div>
   <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">

        <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Type:</label>
    <div class="col-sm-8" style="padding-right:20px; padding-left:10px;">
       {{formTrailer.type_select|add_class:'form-control'|attr:'placeholder:Type'}}
    </div>
  </div>

   <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Use:</label>
    <div class="col-sm-8">
       {{formTrailer.use|add_class:'form-control'|attr:'placeholder:Use'}}
    </div>
  </div>

          <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Service Start Date:</label>
    <div class="col-sm-8">

                <div class='input-group date date-pick datepicker' data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    {%render_field formTrailer.start_service_date class="form-control" placeholder="Service Start Date"%}

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

    </div>
  </div>


          <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Service End Date:</label>
    <div class="col-sm-8">

                <div class='input-group date date-pick datepicker' data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    {%render_field formTrailer.end_service_date class="form-control" placeholder="Service End Date"%}

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

    </div>
  </div>
    <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Status:</label>
    <div class="col-sm-8">
      {{formTrailer.status|add_class:'form-control'|attr:'placeholder:Status'}}
    </div>
  </div>

          <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Rent Date:</label>
    <div class="col-sm-8">

                <div class='input-group date date-pick datepicker' data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    {%render_field formTrailer.rent_date class="form-control" placeholder="Rent Date"%}

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

    </div>
  </div>


          <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Deliver Date:</label>
    <div class="col-sm-8">

                <div class='input-group date date-pick datepicker' data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    {%render_field formTrailer.deliver_date class="form-control" placeholder="Deliver Date"%}

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

    </div>
  </div>

   <div class="form-inline two-column-form navbar-right">
 <button type="submit" class="btn btn-primary">Save</button>
       {% if active %}
        <a href="/archiver_trailers/0/1/"><button type="button" class="btn btn-primary">Cancel</button></a>
     {% else %}
      <a href="/trailers/0/0/"><button type="button" class="btn btn-primary">Cancel</button></a>
     {% endif %}
 </div>
  </div>
  </div>
</form>
</div>

<br>
<br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="{% static 'hound/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'hound/js/bootstrap-datetimepicker.js' %}"></script>
 <script src="{% static 'hound/locales/bootstrap-datetimepicker.fr.js' %}"></script>
 <script src="{% static 'hound/js/events.js' %}"></script>
<script src="{% static 'hound/js/select_state.js' %}"></script>
<script src="{% static 'hound/js/upload_img_profile.js' %}"></script>
 <script src="{% static 'hound/js/datepicker.js' %}"></script>

</html>