<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{% static 'hound/images/favicon.ico'%}">
 <link href="{% static 'hound/css/bootstrap.min.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'hound/fonts/font-awesome/css/font-awesome.min.css' %}">
 <link href="{% static 'hound/css/custom.css' %}" rel="stylesheet">

</head>
<body class="registration-background">
<div class="jumbotron">
  <div class="container-fluid ">
    <ul class="nav navbar-nav" style="margin-left:1px; font-size:40px;">
     <a href="/"><i class="fa fa-paw" aria-hidden="true"></i></a>
         <br><a href="/password/1/" style="font-size:12pt;">ESP</a>
    </ul>
			  <ul class="nav navbar-nav navbar-right second-menu-icons" style="margin-left:2px;">
		<a href="/registration/0/" style="font-size:12pt;">Register</a>
    </ul>
	<br>		  
  </div>
</div>
<div class="center-verticaly-container">
<div class="container center-verticaly">
<div style="max-width:300px;" class="main-forms-container center-horizontaly">
<form class="form-horizontal" action="/password/0/" method="post">
        {% if messages%}
     {% for message in messages %}
    <div class="alert alert-danger">
  <strong>Error!</strong>
        {{ message }}
</div>
    {% endfor %}
    {% endif %}
    {% csrf_token %}
<center>
<img src="{% static 'hound/images/hound-logo.png' %}" class="img-responsive img-logo" />
</center>
<br>

      <div class="form-group">
    <div class="col-sm-12">
        {% render_field passwordForm.tmp_password class="form-control center-input" type="password" placeholder="Enter password" %}
    </div>
  </div>
  <center>
  <a href="/recover_password/0/">Recover Password</a>
  <br>
    <br>
  <button type="submit" class="btn btn-primary">Verify Password</button></center>
</form>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="{% static 'hound/js/bootstrap.min.js' %}"></script>
</body>
</html>
