
<!DOCTYPE html>
{% load widget_tweaks %}
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" href="{% static 'hound/images/favicon.ico' %}">
 <link href="{% static 'hound/css/bootstrap.min.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'hound/fonts/font-awesome/css/font-awesome.min.css' %}">
 <link href="{% static 'hound/css/custom.css' %}" rel="stylesheet">

</head>
<body class="registration-background">
<div class="center-verticaly-container">
<div class="container center-verticaly">
<div style="max-width:450px;" class="main-forms-container center-horizontaly">
<form class="form-horizontal" action="/url_settings/1/{{hash}}/" method="post">

        {% if messages%}
     {% for message in messages %}
    <div class="alert alert-danger">
  <strong>Error!</strong>
        {{ message }}
</div>
    {% endfor %}
    {% endif %}
     {% csrf_token %}
<center>
<img src="{% static 'hound/images/hound-logo.png' %}" class="img-responsive img-logo" />
</center>
<br>
   <div class="form-group two-column-form">
    <label class="control-label col-sm-5">*Contraseña actual:</label>
    <div class="col-sm-7">
        {{formChangePassword.old_password|add_class:'form-control'|attr:'placeholder:Contraseña'}}
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-5">*Nueva contraseña:</label>
    <div class="col-sm-7">
         {{formChangePassword.new_password|add_class:'form-control'|attr:'placeholder:Nueva contraseña'}}

    </div>
  </div>
        <div class="form-group two-column-form">
    <label class="control-label col-sm-5">*Reescribir contraseña nueva:</label>
    <div class="col-sm-7">
         {{formChangePassword.retype|add_class:'form-control'|attr:'placeholder:Reescribir contraseña nueva'}}
    </div>
  </div>

  <center><button type="submit" class="btn btn-primary" >Cambiar contraseña</button></center>
</form>
</div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="{% static 'hound/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'hound/js/authenticator.js' %}"></script>
</body>
</html>
