<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
{% load django_tables2 %}
{% load i18n %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="{% static 'hound/images/favicon.ico' %}">
 <link href="{% static 'hound/css/bootstrap.min.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'hound/fonts/font-awesome/css/font-awesome.min.css' %}">
 <link href="{% static 'hound/css/custom.css' %}" rel="stylesheet">

</head>
<body>

<div class="jumbotron">
  <div class="container-fluid ">
    <ul class="nav navbar-nav" style="margin-left:1px;">
     <a href="/drivers/1/0/"><img src="{% static 'hound/images/hound-icon.png' %}" class="header-img" /></a>
         <br><br>&nbsp;<a href="/trip_status/0/" style="font-size:12pt;">ENG</a>
    </ul>
		  <ul class="nav navbar-nav navbar-right second-menu-icons" style="margin-left:2px;">
		<a href="/logout/1/" style="font-size:14pt;">Cerrar Sesión</a>
		<br><div class="navbar-right" style="margin-right:2px;"><a href="/settings/1/" ><i class="fa fa-cog" aria-hidden="true"></i></a></div>
    </ul>
	<br>		  
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/trip_status/1/">Rastreo</a></li>
      <li><a href="#">Monitoreo</a></li>
      <li><a href="/drivers/1/0/">Assets</a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav second-menu-icons">
      <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i></a></li>
      <li class="active"><a href="/trip_status/1/"><i class="fa fa-road" aria-hidden="true"></i></a></li>
      <li><a href="/bitacora/1/"><i class="fa fa-file-text-o" aria-hidden="true"></i></a></li>
    </ul>
	  <ul class="nav navbar-nav navbar-right second-menu-icons" style="margin-right:2px; margin-left:2px;">
      <a href="#search_bar" data-toggle="collapse"><i class="fa fa-search" aria-hidden="true"></i></a>

    </ul>
  </div>
</nav>
<div class="search-bar text-right collapse" id="search_bar">
<form action="/search_today_trip/1/" method="post">
     {% csrf_token %}
<div class="row" style="padding-right:15px;">
<div class="col-sm-3">
</div>
<div class="col-sm-3">
<div class="form-inline">
  <div class="form-group">
    <label>No. Económico del Vehiculo:</label>
      {{formSearchTrip.vehicle_no|add_class:'form-control'|attr:'placeholder:No. Eco. del Vehiculo'}}

  </div>
</div>
</div>
<div class="col-sm-3">
<div class="form-inline">
   <div class="form-group">
     <label>No. Económico del Trailer:</label>
      {{formSearchTrip.trailer_no|add_class:'form-control'|attr:'placeholder:No. Eco. del Trailer'}}

  </div>
</div>
</div>
<div class="col-sm-3">
<div class="form-inline">
  <div class="form-group">
    <label>Id Asignado:</label>
    {{formSearchTrip.assigned_id|add_class:'form-control'|attr:'placeholder:Id. Asignado'}}

  </div>
</div>
</div>
</div>
<div class="row" style="padding-right:15px;">
    <div class="col-sm-3">
</div>
<div class="col-sm-3">
<div class="form-inline">
  <div class="form-group">
    <label>Origen:</label>
    {{formSearchTrip.origin|add_class:'form-control'|attr:'placeholder:Origen'}}

  </div>
</div>
</div>
<div class="col-sm-3">
    <div class="form-inline">
  <div class="form-group">
    <label>Destino:</label>
    {{formSearchTrip.destiny|add_class:'form-control'|attr:'placeholder:Destino'}}

  </div>
</div>
</div>
<div class="col-sm-3">
<div class="form-inline">
  <div class="form-group">
    <label>Tipo de Viaje:</label>
    {{formSearchTrip.trip_type|add_class:'form-control'|attr:'placeholder:Tipo de Viaje'}}

  </div>
</div>
</div>

</div>
   <button type="submit" class="btn btn-default">Busqueda</button>
</form>
</div>
<div class="container">
<br>
<br>
  <div class="form-inline icons" style="font-size:30px;">
  <ul class="pagination navbar-right">
  <form action="/manager_trip_status/1/" method="post" >
       {% csrf_token %}
       <input type="hidden" value="{{action}}" id="action" name="action">
  <a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
  	<a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
      {% if status %}
      <a href="/cancel_trip/1/{{trip_id}}/"><i class="fa fa-ban" aria-hidden="true"></i></a>
      <a href="/edit_trip/1/{{trip_id}}/{{driver.assigned_id}}/{{vehicle.economic_no}}/"><i class="fa fa-pencil" aria-hidden="true"></i></a>
      {% endif %}
        <a href="#" onclick="remove()"><button type="submit" class="fa fa-times custom_input" aria-hidden="true"></button></a>
</ul>
   <ul class="pagination">
       <a href="/assign_trip/1/0/0/" ><button type="button" style="background-color:#00ccff;" class="btn btn-info" >Asignar Viaje</button></a>
       {% if status %}
         <a href="/trip_status/1/" ><button type="button" style="background-color:#00ccff;" class="btn btn-info" >Todos</button></a>
       {% endif %}
  </ul>
</div>
<div class="table-responsive">          
    {% block table %}
  <table {% if table.attrs %} {{table.attrs.ad_html}}{% endif %} class="table custom-table">
      {% block table.thead %}
      {% if table.show_header %}
  <thead>
  <tr>
      {% for column in table.columns%}
      {% if column.orderable %}
         <th {{ column.attrs.th.as_html }}><a style="color:#fff;" href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
        {% else %}
       <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
      {% endif %}
      {% endfor %}

  </tr>
  </thead>
      {% endif %}
      {% endblock table.thead %}

  {% block table.tbody %}
  <tbody>
   {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
        {% block table.tbody.row %}
        <tr {{ row.attrs.as_html }}>
            {% for column, cell in row.items %}
                <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endblock table.tbody.row %}
        {% empty %}
        {% if table.empty_text %}
        {% block table.tbody.empty_text %}
        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
        {% endblock table.tbody.empty_text %}
        {% endif %}
        {% endfor %}
  </tbody>
      {% endblock table.tbody %}
       {% block table.tfoot %}
    {% if table.has_footer %}
    <tfoot>
        <tr>
        {% for column in table.columns %}
            <td>{{ column.footer }}</td>
        {% endfor %}
        </tr>
    </tfoot>
    {% endif %}
    {% endblock table.tfoot %}
  </table>
    {% endblock table %}
    {% if table.page %}
{% with table.page.paginator.count as total %}
{% with table.page.object_list|length as count %}
{% block pagination %}
  <ul class="pagination navbar-right">
      {% if table.page.has_previous %}
        {% block pagination.previous %}
  <li>
     <a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">{% trans "Prev" %}</a>
  </li>
      {% endblock pagination.previous %}
    {% endif %}

       {% if table.page.has_previous or table.page.has_next %}
        {% block pagination.cardinality %}
  <li><a href="#"> {% blocktrans with table.page.number as current and table.paginator.num_pages as total %}Page {{ current }} of {{ total }}{% endblocktrans %}</a></li>
      {% endblock pagination.cardinality %}
    {% endif %}
 {% if table.page.has_next %}
        {% block pagination.next %}
  <li><a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">{% trans "Next" %}</a></li>
       {% endblock pagination.next %}
    {% endif %}
</ul>
    {% endblock pagination %}
{% endwith %}
{% endwith %}
{% endif %}
  </div>
  </form>
  <br>
  <br>
     {% if status %}
  <div class="row">

  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

  <div class="symetric-container" style="max-width:600px;">
  <form class="form-horizontal form-container">
       <h3>Perfil de Conductor</h3>
    <div class="form-inline icons-inverse navbar-right" style="font-size:30px;">
			<a href="/view_driver/1/{{driver.assigned_id}}/"><i class="fa fa-eye" aria-hidden="true"></i></a>
		</div>
		<br>
		<br>
<div class="row">
  	 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	 <img class="img-responsive" src="{% static driver.profile_img %}" style="width:150px; height:150px; border-radius:150px;">
	 
	 <br>
	 <br>
	</div>
	{% if driver %}
 <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
   <div class="form-group two-column-form">
    <label class="control-label col-sm-5" >Id Asignado:</label>
    <div class="col-sm-7">

      <input type="text" class="form-control" id="driver_id" placeholder="Id asignado" value="{{driver.assigned_id}}" disabled>
    </div>
  </div>
    <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Nombre:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="name" placeholder="Nombre" value="{{driver.name}}" disabled>
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Apellido:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="last_name" placeholder="Apellido" value="{{driver.last_name}}" disabled>
    </div>
  </div>
     <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Número de Teléfono:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="phone_number" placeholder="Numero de telefono" value="{{phone}}" disabled>
    </div>
  </div>
  </div>
  </div>
</form>

  </div>
  <br>
  <br>
  </div>
{% endif %}
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="symetric-container" style="max-width:550px;">
   <form class="form-horizontal form-container">
        <h3>Perfil de Vehiculo</h3>
           <div class="form-inline icons-inverse navbar-right" style="font-size:30px;">
			<a href="/view_vehicle/1/{{vehicle.economic_no}}/"><i class="fa fa-eye" aria-hidden="true"></i></a>
		</div>
       <br>
       <br>
<div class="row">
  	 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	 <img class="img-responsive" src="{% static vehicle.profile_img %}" style="width:150px; height:150px; border-radius:150px;">
	 <br>
	 <br>
	</div>
	{% if vehicle %}
 <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
   <div class="form-group two-column-form">
    <label class="control-label col-sm-4" >No. Económico:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="economic_no" value="{{vehicle.economic_no}}" placeholder="No. economico" disabled>
    </div>
  </div>
    <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Vin:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="vin" placeholder="Vin" value="{{vehicle.vin}}" disabled>
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-4" >No. de Placas:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="plate_no" placeholder="No. de placas" value="{{vehicle.plate_no}}" disabled>
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Estado:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="state" placeholder="Estado" value="{{vehicle.state}}" disabled>
    </div>
  </div>
        <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Año:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="year" placeholder="Año" value="{{vehicle.year}}" disabled>
    </div>
  </div>
        <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Modelo:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="model" placeholder="Modelo" value="{{vehicle.model}}" disabled>
    </div>
  </div>
          <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Marca:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="brand" placeholder="Marca" value="{{vehicle.brand}}" disabled>
    </div>
  </div>
          <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Tipo de Vehiculo:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="vehicle_type" placeholder="Tipo de vehiculo" value="{{vehicle.type}}" disabled>
    </div>
  </div>
  </div>
  </div>
</form>
</div>
  </div>
      {% endif %}
</div>

<br>
<br>
{% if trailer %}
  <div class="center-horizontaly" style="max-width:550px;">

  <form class="form-horizontal form-container">
       <h3>Perfil de Caja</h3>
  	   <div class="form-inline icons-inverse navbar-right" style="font-size:30px;">
			<a href="/view_trailer/1/{{trailer.economic_no}}/"><i class="fa fa-eye" aria-hidden="true"></i></a>
		</div>
  <br>
<div class="row">
  	 <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	 <img class="img-responsive" src="{% static trailer.profile_img %}" style="width:150px; height:150px; border-radius:150px;">
	 <br>
	 <br>
	</div>
	
 <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
   <div class="form-group two-column-form">
    <label class="control-label col-sm-4" >No. Económico:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="economic_no" value="{{trailer.economic_no}}" placeholder="No. economico" disabled>
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-4">No. de Placas:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="plate_no" placeholder="No. de placas" value="trailer.plate_no" disabled>
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Estado:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="sate" placeholder="Estado" value="{{trailer.state}}" disabled>
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Año:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="year" placeholder="Año" value="{{trailer.year}}" disabled>
    </div>
  </div>
        <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Tipo:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="trailer_type" value="{{trailer.type}}" placeholder="Tipo" disabled>
    </div>
  </div>
          <div class="form-group two-column-form">
    <label class="control-label col-sm-4">Capacidad:</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="capacity" value="{{trailer.capacity}}" placeholder="Capacidad" disabled>
    </div>
  </div>
  </div>
  </div>
</form>
</div>
    {% endif %}
    {% endif %}
<br>
<br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="{% static 'hound/js/bootstrap.min.js' %}"></script>
<script src="{% static 'hound/js/delete.js' %}"></script>
<script src="{% static 'hound/js/toggle.js' %}"></script>
</body>
</html>
