<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{% static 'hound/images/favicon.ico' %}">
 <link href="{% static 'hound/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'hound/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
 <link rel="stylesheet" href="{% static 'hound/fonts/font-awesome/css/font-awesome.min.css' %}">
 <link href="{% static 'hound/css/custom.css' %}" rel="stylesheet">

</head>
<body>

<div class="jumbotron">
  <div class="container-fluid ">
    <ul class="nav navbar-nav" style="margin-left:1px;">
     <a href="/drivers/1/0/"><img src="{% static 'hound/images/hound-icon.png' %}" class="header-img" /></a>
         <br><br>&nbsp;<a href="/view_driver/0/{{assigned_id}}/" style="font-size:12pt;">ENG</a>
    </ul>
		  <ul class="nav navbar-nav navbar-right second-menu-icons" style="margin-left:2px;">
		<a href="/logout/1/" style="font-size:14pt;">Cerrar Sesión</a>
		<br><div class="navbar-right" style="margin-right:2px;"><a href="/settings/1/" ><i class="fa fa-cog" aria-hidden="true"></i></a></div>
    </ul>
	<br>		  
  </div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/trip_status/1/">Rastreo</a></li>
      <li><a href="#">Monitoreo</a></li>
      <li class="active"><a href="/drivers/1/0/">Assets</a></li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

      {% if expired %}
            <ul class="nav navbar-nav second-menu-icons">
      <li><a href="/archiver_vehicles/1/1/"><i class="fa fa-car" aria-hidden="true"></i></a></li>
	   <li><a href="/archiver_trailers/1/1/"><i class="fa fa-truck" aria-hidden="true"></i></a></li>
	   <li class="active"><a href="/archiver_drivers/1/1/"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
    </ul>

      {% else %}
          <ul class="nav navbar-nav second-menu-icons">
      <li><a href="/vehicles/1/0/"><i class="fa fa-car" aria-hidden="true"></i></a></li>
	   <li><a href="/trailers/1/0/"><i class="fa fa-truck" aria-hidden="true"></i></a></li>
	   <li class="active"><a href="/drivers/1/0/"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
	    <li><a href="/archiver_drivers/1/1/"><i class="fa fa-folder-open" aria-hidden="true"></i></a></li>
    </ul>
      {% endif %}
	

  </div>
</nav>

<div class="container">
<br>
<br>
  <div class="center-horizontaly" style="max-width:1100px;">

  <form class="form-horizontal form-container">
      {% csrf_token %}
  	   <div class="form-inline icons-inverse navbar-right" style="font-size:30px;">
			<a href="/edit_driver/1/{{assigned_id}}/"><i class="fa fa-pencil" aria-hidden="true"></i></a>
           <a href="/print_driver_esp/{{assigned_id}}/"><i class="fa fa-print" aria-hidden="true"></i></a>
           {% if expired %}
           <a href="/restore_driver/1/{{assigned_id}}/"><i class="fa fa-repeat" aria-hidden="true"></i></a>
           {% endif %}
           <a href="/delete_driver/1/{{assigned_id}}/"><i class="fa fa-times" aria-hidden="true"></i></a>
		</div>
  <h3>
  Perfil de Conductor
  </h3>
		<div class="form-inline icons-inverse navbar-right" style="font-size:15px; margin-right:-10px;">
			<a href="#rfc_curp" data-toggle="collapse" onclick="hide_element('id')" id="link">RFC/CURP</a>
		</div>
  <br>
  <br>
<div class="row">
  	 <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
         <center>
          <label style="font-size:20px;">Imagen de Perfil</label>
	 <img class="img-responsive form-img" src="{% static profile %}" style="width:150px; height:150px; border-radius:150px;">
         </center>
	 <br>
         <center>
         <label style="font-size:20px;">Huellas Digitales</label>


	  <img class="img-responsive form-img" src="{% static prints %}" style="width:150px; height:150px; border-radius:150px;">
	   </center>
	  <br>
	  <br>
	</div>
 <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
    <div class="form-group two-column-form">
    <label class="control-label col-sm-5" >Id Asignado:</label>
    <div class="col-sm-7">
         {{formDriver.assigned_id|add_class:'form-control'|attr:'placeholder:Id Asignado'|attr:'disabled'}}
    </div>
  </div>
   <div class="form-group two-column-form" id="id">
    <label class="control-label col-sm-5" >Id:</label>
    <div class="col-sm-7">
        {{formDocuments.id|add_class:'form-control'|attr:'placeholder:Id'|attr:'disabled'|attr:'type=text'}}
    </div>
  </div>
  <div class="collapse" id="rfc_curp">
    <div class="form-group two-column-form">
    <label class="control-label col-sm-5" >RFC:</label>
    <div class="col-sm-7">
       {{formDocuments.rfc|add_class:'form-control'|attr:'placeholder:RFC'|attr:'disabled'}}
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-5" >CURP:</label>
    <div class="col-sm-7">
       {{formDocuments.curp|add_class:'form-control'|attr:'placeholder:CURP'|attr:'disabled'}}
    </div>
  </div>
  </div>
    <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Nombre:</label>
    <div class="col-sm-7">
       {{formDriver.name|add_class:'form-control'|attr:'placeholder:Nombre'|attr:'disabled'}}
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Apellido:</label>
    <div class="col-sm-7">
       {{formDriver.last_name|add_class:'form-control'|attr:'placeholder:Apellido'|attr:'disabled'}}
    </div>
  </div>
                  <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Segundo Nombre:</label>
    <div class="col-sm-7">
        {{formDriver.middle_name|add_class:'form-control'|attr:'placeholder:Segundo Nombre'|attr:'disabled'}}
    </div>
  </div>
       <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Fecha de Nacimiento:</label>
    <div class="col-sm-7">
	 <div class='input-group date date-pick'>
                     {{formDriver.date_of_birth|add_class:'form-control'|attr:'placeholder:Fecha de Nacimiento'|attr:'disabled'}}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    </div>
  </div>

                       <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Correo Electrónico:</label>
    <div class="col-sm-7">
         <div class='input-group date date-pick'>
                  {{formDriver.email_address|add_class:'form-control'|attr:'placeholder:Correo Electrónico'|attr:'disabled'}}
                    <span class="input-group-addon">
                        <a href="mailto:{{email_address}}" target="_blank"><span class="glyphicon glyphicon-envelope"></span></a>
                    </span>
                </div>
    </div>
  </div>


         <div class="form-group two-column-form">
    <label class="control-label col-sm-5" style="border-bottom:solid 1px; border-color:gray;">Lugar de Nacimiento</label>
    <div class="col-sm-7">

    </div>
  </div>


         <div class="form-group two-column-form">
    <label class="control-label col-sm-5">País</label>
    <div class="col-sm-7">
        {{formDriver.country|add_class:'form-control'|attr:'placeholder:País'|attr:'disabled'}}
    </div>
  </div>

              <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Estado</label>
    <div class="col-sm-7">
        {{formDriver.state|add_class:'form-control'|attr:'placeholder:Estado'|attr:'disabled'}}
    </div>
  </div>

              <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Ciudad</label>
    <div class="col-sm-7">
        {{formDriver.city|add_class:'form-control'|attr:'placeholder:Ciudad'|attr:'disabled'}}
    </div>
  </div>


             <div class="form-group two-column-form">
    <label class="control-label col-sm-5" style="border-bottom:solid 1px; border-color:gray;">Dirección</label>
    <div class="col-sm-7">

    </div>
  </div>

              <div class="form-group two-column-form">
    <label class="control-label col-sm-5">País:</label>
    <div class="col-sm-7" >
        {{formAddress.country_addr|add_class:'form-control'|attr:'placeholder:País'|attr:'disabled'}}
    </div>
  </div>


              <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Estado:</label>
    <div class="col-sm-7">
        {{formAddress.state_addr|add_class:'form-control'|attr:'placeholder:Estado'|attr:'disabled'}}
    </div>
  </div>


  </div>
   <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">


                       <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Ciudad:</label>
    <div class="col-sm-7">
        {{formAddress.city_addr|add_class:'form-control'|attr:'placeholder:Ciudad'|attr:'disabled'}}
    </div>
  </div>


          <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Calle:</label>
    <div class="col-sm-7">
        {{formAddress.street|add_class:'form-control'|attr:'placeholder:Calle'|attr:'disabled'}}
    </div>
  </div>

          <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Código Postal:</label>
    <div class="col-sm-7">

          {{formAddress.zip_code|add_class:'form-control'|attr:'placeholder:Código Postal'|attr:'disabled'}}


    </div>
  </div>

                <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Ext:</label>
    <div class="col-sm-7">
       {{formAddress.ext|add_class:'form-control'|attr:'placeholder:Ext'|attr:'disabled'}}

    </div>
  </div>

                       <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Principal Número de Teléfono:</label>
    <div class="col-sm-7">
         <div class='input-group date date-pick'>
                  {{formAddress.phone_number|add_class:'form-control'|attr:'placeholder:Phone Number'|attr:'disabled'}}
                    <span class="input-group-addon">
                        <a href="tel:{{phone_number}}" target="_blank"><span class="glyphicon glyphicon-earphone"></span></a>
                    </span>
                </div>
    </div>
  </div>

                                  <div class="form-inline two-column-form text-right">
           <a href="/add_directory/1/{{assigned_id}}/"><button type="button" class="btn btn-default">Directorio</button></a>
 </div>


                      <div class="form-group two-column-form">
    <label class="control-label col-sm-5" style="border-bottom:solid 1px; border-color:gray;">Documentos</label>
    <div class="col-sm-7">

    </div>
  </div>

   <div class="form-group two-column-form">
    <label class="control-label col-sm-5">No. de Licencia:</label>
    <div class="col-sm-7">
      {{formDocuments.license_no|add_class:'form-control'|attr:'placeholder:No. de Licencia'|attr:'disabled'}}
    </div>
  </div>
      <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Tipo de Licencia:</label>
    <div class="col-sm-7">
       {{formDocuments.license_type|add_class:'form-control'|attr:'placeholder:Tipo de Licencia'|attr:'disabled'}}
    </div>
  </div>
  
         <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Vigente desde:</label>
    <div class="col-sm-7">
         <div class='input-group date date-pick'>
                    {{formDocuments.license_issue_date|add_class:'form-control'|attr:'placeholder:Vigente desde'|attr:'disabled'}}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    </div>
  </div>
  
      <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Vigente hasta:</label>
    <div class="col-sm-7">
         <div class='input-group date date-pick'>
                     {{formDocuments.license_exp_date|add_class:'form-control'|attr:'placeholder:Vigente hasta'|attr:'disabled'}}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    </div>
  </div>
     <div class="form-group two-column-form">
    <label class="control-label col-sm-5">No. de Pasaporte:</label>
    <div class="col-sm-7">
     {{formDocuments.passport_no|add_class:'form-control'|attr:'placeholder:No. de Pasaporte'|attr:'disabled'}}
    </div>
  </div>
         <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Vigente desde:</label>
    <div class="col-sm-7">
         <div class='input-group date date-pick'>
                   {{formDocuments.passport_issue_date|add_class:'form-control'|attr:'placeholder:Vigente desde'|attr:'disabled'}}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    </div>
  </div>
  
      <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Vigente hasta:</label>
    <div class="col-sm-7">
         <div class='input-group date date-pick'>
                   {{formDocuments.passport_exp_date|add_class:'form-control'|attr:'placeholder:Vigente hasta'|attr:'disabled'}}                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    </div>
  </div>
  
      <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Fecha de Inicio:</label>
    <div class="col-sm-7">
                
                <div class='input-group date date-pick'>
                   {{formStatus.start_date|add_class:'form-control'|attr:'placeholder:Fecha de Inicio'|attr:'disabled'}}
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
         
    </div>
  </div>

          {% if expired %}
          <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Fecha de Expiración:</label>
    <div class="col-sm-7">

                <div class='input-group date date-pick datepicker' data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                     {{formStatus.end_date|add_class:'form-control'|attr:'placeholder:Fecha de Expiración'|attr:'disabled'}}

                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>

    </div>
  </div>
       {% endif %}

   <div class="form-group" style="padding-left:45px;">
				 <div class="checkbox">
				<label>
                    {{formDocuments.dot|attr:'disabled'}}<strong>DOT</strong>
                </label>
			</div>    
  </div>
         <div class="form-group" style="padding-left:45px;">
				 <div class="checkbox">
				<label>
                   {{formDocuments.criminal_record|attr:'disabled'}}<strong>Expediente Criminal</strong>
                </label>
			</div>    
  </div>
       {% if expired %}
           <div class="form-group two-column-form">
    <label class="control-label col-sm-5">Porque Expiro:</label>
    <div class="col-sm-7">
     {{formStatus.leave_reason|add_class:'form-control'|attr:'placeholder:Porque expiro'|attr:'disabled'}}
    </div>
  </div>
       {% endif %}

       <div class="form-inline two-column-form text-right">
           <a href="/vacations/1/{{assigned_id}}/0/"><button type="button" class="btn btn-default">Vacaciones</button></a>
 </div>
  </div>
  </div>
</form>
</div>
 
<br>
<br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="{% static 'hound/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'hound/js/events.js' %}"></script>
</html>
